<h2>Edit movie</h2>

<form action="/movies/create" method="POST">
  <input type="text" name="title" id="title" value="{{movie.title}}">
  <input type="text" name="genre" id="genre" value="{{movie.genre}}">
  <input type="text" name="plot" id="plot" value="{{movie.plot}}">
  <select name="cast" id="cast" multiple>
    {{#each celebrities}}
    <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>
  <button>Create New Movie</button>
</form>